/* /* App.css */
.app {
  display: flex;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-open {
  margin-left: 250px; /* Adjust this value based on your sidebar width */
}

.content {
  flex: 1;
  padding: 20px;
  transition: padding 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .sidebar-open {
      margin-left: 0;
  }

  .content {
      padding: 20px;
  }
}
